.sign-in {
  width: 37%;
  display: flex;
  padding-left: 3.7rem;
  padding-top: 3.5rem;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
